<% include('../layouts/header.ejs') %>

<h1>Update Profile</h1>

<img src="userImages/<%= user.image%>" width="100px" height="100px" alt="Profile Image">

<form action="" method="POST" enctype="multipart/form-data">

    <input type="file" name="image">
    <input type="hidden" name="user_id" value="<%= user._id %>">
    <br>

    <input type="text" name="name" value="<%= user.name %>" placeholder="Enter Name" required><br>
    <input type="email" name="email" value="<%= user.email %>" placeholder="Enter Email" required><br>
    <input type="number" name="mobile" value="<%= user.mobile %>" placeholder="Enter Mobile" required><br>

    <input type="submit" value="Update Profile">
</form>

<% include('../layouts/footer.ejs') %>